@font-face {
    font-family: 'Proxima Nova Regular';
    font-style: normal;
    font-weight: normal;
    src: local("Proxima Nova"), url("src/assets/fonts/ProximaNova-Regular.otf") format('opentype');
}